<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.entry}"></title>
</head>
<body>
<!-- 컨텍스트 경로와 @{}에 대해 알아보기, th:field에 대해 알아보기-->
    <form th:action="@{/calc}" method="post" th:object="${calcForm}">
        <div>
            <input type="text" th:field="*{leftNum}">
            +
            <input type="text" th:field="*{rightNum}">
        </div>
        <button type="submit" th:text="#{button.send}"></button>

        <!-- #fields에 대해 알아보기-->
        <!-- 주의! : form 태그 내에 에러를 표시할 곳에 추가해야 함 -->
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </form>


</body>
</html>