<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Sample</title>
</head>
<body>
    <!-- 문자 직접 삽입-->
    <h1 th:text="'hello world'"> 삽입될 위치 </h1>
    <!-- 인라인 처리 -->
    <h1>안녕하세요! [[${name}]]씨</h1>
    <!-- 값 결합-->
    <h1 th:text="'오늘의 날씨는 ' + '맑음 ' + '입니다.'"></h1>

    <hr>
    <!-- 값 결합(리터럴 치환)-->
    <h1 th:text="|안녕하세요 ${name}씨|"> 삽입될 위치 </h1>
    <!-- 지역변수-->
    <div th:with="a=1, b=1">
        <span th:text="|${a} + ${b} = ${a + b}|"></span>
    </div>
    <!-- 비교연산-->
    <span th:text="1 > 10"></span>
    <span th:text="1 < 10"></span>
    <span th:text="1 >= 10"></span>
    <span th:text="1 <= 10"></span>
    <span th:text="1 == 10"></span>
    <span th:text="1 == 10"></span>
    <span th:text="길동 == 길동"></span>
    <span th:text="길동 != 길동"></span>

    <hr>
    <!--조건 연산자-->
    <p th:text="${name} == '이순신' ? '이순신입니다.' : '이순신이 아닙니다.'"></p>
    <!--조건 분기-->
    <th:block th:if="${name} == '이순신'">
        <p>이순신이 맞습니다!</p>
    </th:block>
    <!--조건 분기-->
    <th:block th:unless="${name} == '영희'">
        <p>영희가 아닙니다!</p>
    </th:block>

    <!-- switch -->
    <div th:switch="${name}">
        <p th:case="이순신" th:text="|${name}입니다.|"></p>
        <p th:case="영희" th:text="|${name}입니다.|"></p>
        <p th:case="철수" th:text="|${name}입니다.|"></p>
        <p th:case="*">명부에 없습니다.</p>
    </div>

    <!-- 참조 (데이터를 결합한 객체)-->
    .로 접근: <span th:text="mb.id"></span> - <span></span><br>
    []로 접근: <span></span> - <span></span><br>

    <div th:object="${mb}">

        .로 접근: <span></span> - <span></span><br>
        []로 접근: <span></span> - <span></span><br>
    </div>
</body>
</html>